body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003049;
}

p {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #5cb6e8;
    height: 90vh;
    width: 45vw;
    border-radius: 40px;
    box-shadow: 0 0 10px 5px #000;
}

.weatherContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.weatherContainer h1 {
    font-size: 2em;
    font-weight: bold;
}

img {
    margin: 0 0.5em;
}

.weatherContainer div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.temperature {
    font-weight: bold;
    flex-direction: column;
}

.temperature .current {
    display: flex;
}

.temperature .current, .temperature .apparent {
    font-size: 1.5em;
    font-weight: bold;
}

.temperature .apparent p {
    margin: 0.5em;
    font-size: 0.75em;
}

.container .weather {
    font-size: 1.5em;
    font-weight: bold;
}

.precipitation, .wind {
    font-style: italic;
    font-weight: 500;
}

.forecastContainer {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.forecastItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.forecastItem {
    margin: 0.5em;
}


.forecastItem div{
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}



.forecastItem .time {
    font-size: 0.75em;
    font-weight: bold;
}
