body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003049;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    font-style: italic;
    text-align: center;
    color: #fff;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5cb6e8;
    padding: 1em;
    height: 90vh;
    width: 60vw;
    border-radius: 40px;
    box-shadow: 0 0 10px 5px #000;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-right: 2em;
}

.weatherContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.weatherContainer h2 {
    font-size: 2em;
    font-weight: bold;
}


.weatherContainer div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.temperature {
    font-weight: bold;
    flex-direction: column;
}

.temperature .current {
    display: flex;
}

.temperature .current, .temperature .apparent {
    font-size: 1.5em;
    font-weight: bold;
}

.temperature .apparent p {
    margin: 0.5em;
    font-size: 0.75em;
}

.container .weather {
    font-size: 1.5em;
    font-weight: bold;
}

.precipitation, .wind {
    font-style: italic;
    font-weight: 500;
}

.forecastContainer {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em 0;
    width: 100%;
}

.forecastItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border: 2px solid #fff;
    margin: 0.5em;
    padding: 1em;
    border-radius: 8px;
}

.forecastItem div{
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}

.forecastItem .time {
    font-size: 0.75em;
    font-weight: bold;
}

.refreshedAt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.8em;
    font-style: italic;
}

.showMap {
    margin-top: 2em;
    font-family: monospace;
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .5s;
}

.showMap:hover {
    cursor: pointer;
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}